/*#login-wrapper #login-top {
				background: url('../images/header_gray.png') top left no-repeat ;
}*/

div.torry_dialog{
	color: #9E61A9;
}

div#dialog_torry{
	color: #9E61A9;
}
a              { color: #9E61A9; }
                
.button {
                background: #800080 url('../images/bg-button-purple.gif') top left repeat-x !important;
                border-color: #800080 !important;

                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-purple.gif') right center no-repeat;
                }

ul.content-box-tabs li a:hover {
                color: #800080;
                }              
                
.pagination strong {
                background: #800080 url('../images/bg-button-purple.gif') top left repeat-x !important;
                border-color: #800080 !important;
				margin-left:3px; /*Edit by Pack*/
				border: 1px solid #ddd; /*Edit by Pack*/
                margin: 0 3px 0 0; /*Edit by Pack*/
                padding: 3px 6px;
				color: #fff;
                }
				
.action-button span:hover {
                color: #800080;
                }
#login-wrapper #login-content .notification {
				border: 0;
				background-color: #87AEF8;
				color: #fff !important;
}