<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- IE Compatibility modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--   -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Management National News Bureau of Thailand</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.ico"> 

    <link href="css/reset.css" rel="stylesheet" charset="utf-8">
    <link href="css/style.css" rel="stylesheet" charset="utf-8">
	<link href="css/lightbox.css" rel="stylesheet" charset="utf-8">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="bg-header">
            <div id="header" class="wrapper">
                <div class="logo">
                    <h1>                        
                        <label class="th">ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน 
                        <span class="bold">สำนักข่าว กรมประชาสัมพันธ์</span></label>
                        <label class="en">Knowledge Management 
                        <span class="bold">National News Bureau of Thailand</span></label>
                    </h1>
                </div>

                <!--
                <div class="box-login">                
                    <form name="login-form" class="login-form">
                        <input type="text" name="username" value="" placeholder="Username" class="txt-field">
                        <input type="password" name="password" value="" placeholder="Password" class="txt-field">

                        <input type="submit" name="submit" value="เข้าสู้ระบบ" class="bt">
                    </form>

                    <div class="box-regis">
                        <a href="#" title="ลงทะเบียน">ลงทะเบียน</a>
                        <i> | </i>
                        <a href="#" title="ลืมรหัสผ่าน">ลืมรหัสผ่าน</a>
                    </div>
                </div>
				-->
            </div>
        </div>

        <div class="bg-nav">
            <div id="main-nav" class="wrapper">
                <ul>
                    <li class="main-km"><a href="index.html" title="หน้าหลัก KM">หน้าหลัก KM</a></li>
                    <li class="news-km"><a href="news.html" title="ข่าว/ข่าวสาร">ข่าว/ข่าวสาร</a></li>
                    <li class="article-km  active"><a href="article.html" title="บทความ">บทความ</a></li>
                    <li class="qa-km"><a href="qa.html" title="คำถามที่พบบ่อย">คำถามที่พบบ่อย</a></li>
                    <li class="contact-km  last"><a href="contact.html"  title="ติดต่อเรา">ติดต่อเรา</a></li>
                </ul>
            </div>
        </div>    
        <div class="shadow-main-nav"></div>

        <div class="wrapper">
            <div class="content">
                <div class="history">
                    <ul>
                        <li><a href="article.html" title="บทความ">บทความ</a></li>
                        <li>พระราชสำนัก</li>
                    </ul>

                    <a href="#" title="ย้อนกลับหน้าที่แล้ว" class="backward">&lt; ย้อนกลับหน้าที่แล้ว</a>
                </div>

                <div class="left-sidebar">
                    <div id="news-category" class="box-sidebar">
                        <div class="box-sidebar-header">
                            <h2>
                                <img src="images/categories.png" alt="img">
                            </h2>
                        </div>
                        <div class="box-sidebar-contents">
                            <ul class="news-link">
                                <li class="active"><a href="#">พระราชสำนัก</a></li>
                                <li><a href="#">การเมือง/มั้นคง</a></li>
                                <li><a href="#">เศรษฐกิจ/ท่องเที่ยว</a></li>
                                <li><a href="#">สังคม</a></li>
                                <li><a href="#">ต่างประเทศ</a></li>
                                <li><a href="#">วิทยาศาสตร์</a></li>
                                <li><a href="#">เกษตร/สิ่งแวดล้อม</a></li>
                            </ul>
                        </div><!-- .box-article-contents -->
                    </div><!--  .box-article -->
                </div>

                <div class="right-sidebar">
                    <div id="news" class="box-article">
                        <div class="box-article-contents">
                            <div class="article">
                                <div class="details">
                                    <div class="image">
                                        <img src="images/pic-left-01.jpg" alt="img">
                                    </div>
                                    <div class="refference">
                                        <p>
                                            <span>ผู้เขียน : นายสมมุติ | </span>
                                            <span>ผู้เข้าชม : 7 | </span>
                                            <span>03/01/57</span>
                                        </p>
                                        <p>บทความอ้างอิง : นายสมมุติ นามสกุล</p>
                                    </div>
                                    <h3 class="article-title  bold  highlight">
                                    ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน
                                    </h3>
                                    <!-- <div class="box-social">Social Media Script</div> -->
                                </div>
                            </div><!-- .article -->  

                            <div class="content-details">
                                <img src="images/img-article-detail.png" alt="img">
                                <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>

                                <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>

                                <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่า ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>

                                <!-- Comments Footer Massage
                                <div class="footer-details">
                                    <p class="highlight  bold">จรูญ พิตะพันธ์ รายงาน</p>
                                </div>
                                -->
                            </div>
                            <!-- Comments Gallery
                            <div class="box-gallery">
								<div class="image-row">
									<div class="image-set">
										<a class="example-image-link" href="images/pic-hilight-03.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-03x150.png" alt=""/>
										</a>
										<a class="example-image-link" href="images/pic-hilight-02.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-02x150.png" alt=""/>
										</a>
										<a class="example-image-link" href="images/pic-hilight-01.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-01x150.png" alt=""/>
										</a>
										<a class="example-image-link  last" href="images/pic-hilight-03.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-03x150.png" alt=""/>
										</a>
										<a class="example-image-link" href="images/pic-hilight-02.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-02x150.png" alt=""/>
										</a>
										<a class="example-image-link" href="images/pic-hilight-01.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
											<img class="example-image" src="images/pic-hilight-01x150.png" alt=""/>
										</a>
									</div>
								</div>
                            </div>
                             -->
                        </div><!-- .box-article-contents -->
                    </div><!-- #news .box-article -->


                    <div id="related-news" class="box-article">
                        <div class="box-article-header">
                            <h2>
                                <img src="images/articles-relate.png" alt="img">
                                <a href="#" class="icon"><img src="images/rss.png"></a>
                            </h2>
                        </div>
                        <div class="box-article-contents">
                            <div class="article">
                                <div class="details">
                                    <div class="image">
                                        <img src="images/pic-right-01.jpg" alt="img">
                                    </div>
                                    <div class="refference">
                                        <p>
                                            <span>ผู้เขียน : นายสมมุติ | </span>
                                            <span>ผู้เข้าชม : 7 | </span>
                                            <span>03/01/57</span>
                                        </p>
                                        <p>บทความอ้างอิง : นายสมมุติ นามสกุล</p>
                                    </div>
                                    <h3 class="article-title">
                                        <a href="article-detail.html" title="ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน" class="highlight  bold">ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</a>
                                    </h3>
                                    <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>
                                </div>
                            </div><!-- .article -->  

                            <div class="article">
                                <div class="details">      
                                    <div class="image">
                                        <img src="images/pic-right-02.jpg" alt="img">
                                    </div>
                                    <div class="refference">
                                        <p>
                                            <span>ผู้เขียน : นายสมมุติ | </span>
                                            <span>ผู้เข้าชม : 7 | </span>
                                            <span>03/01/57</span>
                                        </p>
                                        <p>บทความอ้างอิง : นายสมมุติ นามสกุล</p>
                                    </div>
                                    <h3 class="article-title">
                                        <a href="article-detail.html" title="ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน" class="highlight  bold">ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</a>
                                    </h3>
                                    <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>
                                </div>
                            </div><!-- .article -->  

                            <div class="article  last">
                                <div class="details">
                                    <div class="image">
                                        <img src="images/pic-right-03.jpg" alt="img">
                                    </div>
                                    <div class="refference">
                                        <p>
                                            <span>ผู้เขียน : นายสมมุติ | </span>
                                            <span>ผู้เข้าชม : 7 | </span>
                                            <span>03/01/57</span>
                                        </p>
                                        <p>บทความอ้างอิง : นายสมมุติ นามสกุล</p>
                                    </div>
                                    <h3 class="article-title">
                                        <a href="article-detail.html" title="ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน" class="highlight  bold">ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</a>
                                    </h3>
                                    <p>ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน</p>
                                </div>
                            </div><!-- .article -->  

                        </div><!-- .box-article-contents -->
                    </div><!-- #related-news .box-article -->

                </div> <!-- .right-sidebar -->
            </div>  <!-- .content -->
        </div>

        <div class="bg-nav-footer">
            <div class="nav-footer  wrapper">
                <ul>
                    <li><a href="#">หน้าหลัก KM</a>|</li>
                    <li><a href="#">ข่าว/ข่าวสาร</a>|</li>
                    <li><a href="#">บทความ</a>|</li>
                    <li><a href="#">คำถามที่พบบ่อย</a>|</li>
                    <li class="last"><a href="#">ติดต่อเรา</a></li>
                </ul>
            </div>
        </div>

        <div class="bg-footer">            
            <div id="footer" class="wrapper">
                <div class="box-contact">
                    <h4 class="bold">สำนักข่าว กรมประชาสัมพันธ์</h4>
                    <p>0-91 ถ.เพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง 10310</p>
                    <p>
                        <span class="bold">โทรศัพท์</span> 02-248-8600,
                        <span class="bold">Fax</span> 02-369-2579
                    </p>
                    <p>
                        <span class="bold">WEB MASTER</span> : 
                        <a href="mailto:nnt.thainews@gmail.com" title="nnt.thainews@gmail.com">
                        nnt.thainews@gmail.com</a>
                    </p>
                </div>

                <div class="box-stat">
                    <div class="stat">
                        <span class="message">ผู้เข้าชมตั้งแต่ พ.ค.46
                        &nbsp;<img src="images/icon-truehits.png" alt="img">
                        </span>
                        <img src="images/icon-truehits-score.jpg" alt="img">
                    </div>
                </div>
            </div> <!-- #footer -->
    </div><!-- Close .container -->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
	<script src="js/lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
		
        });
    </script>
</body>
</html>
