<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- IE Compatibility modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--   -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Management National News Bureau of Thailand</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.ico"> 

    <link href="css/reset.css" rel="stylesheet" charset="utf-8">
    <link href="css/style.css" rel="stylesheet" charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="bg-header">
            <div id="header" class="wrapper">
                <div class="logo">
                    <h1>                        
                        <label class="th">ระบบห้องสมุดข่าวสารและองค์ความรู้สำหรับบริการประชาชน 
                        <span class="bold">สำนักข่าว กรมประชาสัมพันธ์</span></label>
                        <label class="en">Knowledge Management 
                        <span class="bold">National News Bureau of Thailand</span></label>
                    </h1>
                </div>
				<!--
                <div class="box-login">                
                    <form name="login-form" class="login-form">
                        <input type="text" name="username" value="" placeholder="Username" class="txt-field">
                        <input type="password" name="password" value="" placeholder="Password" class="txt-field">

                        <input type="submit" name="submit" value="เข้าสู้ระบบ" class="bt">
                    </form>

                    <div class="box-regis">
                        <a href="#" title="ลงทะเบียน">ลงทะเบียน</a>
                        <i> | </i>
                        <a href="#" title="ลืมรหัสผ่าน">ลืมรหัสผ่าน</a>
                    </div>
                </div>
				-->
            </div>
        </div>

        <div class="bg-nav">
            <div id="main-nav" class="wrapper">
                <ul>
                    <li class="main-km"><a href="index.html" title="หน้าหลัก KM">หน้าหลัก KM</a></li>
                    <li class="news-km"><a href="news.html" title="ข่าว/ข่าวสาร">ข่าว/ข่าวสาร</a></li>
                    <li class="article-km"><a href="article.html" title="บทความ">บทความ</a></li>
                    <li class="qa-km  active"><a href="qa.html" title="คำถามที่พบบ่อย">คำถามที่พบบ่อย</a></li>
                    <li class="contact-km  last"><a href="contact.html"  title="ติดต่อเรา">ติดต่อเรา</a></li>
                </ul>
            </div>
        </div>    
        <div class="shadow-main-nav"></div>

        <div class="wrapper">
            <div class="content">
                <div class="history">
                    <ul>
                        <li>คำถามที่พบบ่อย</li>
                    </ul>
                </div>
                <div id="contactus" class="box-article">
                    <div class="box-article-header">
                        <h2>
                            <img src="images/faq.png" alt="img">
                        </h2>
                    </div>
                    <div class="box-article-contents">
                        <div class="box-qa">
                            <ul>
                                <li>
                                    <p class="qa-title  highlight">
                                        <img src="images/register-member.png" alt="img">
                                    </p>  
                                    <a href="#" class="bt-qa"></a>
                                    <p class="qa-message">
                                        ระบบไม่ได้อนุญาตให้สมัครสมาชิกได้เอง
                                        จะต้องเป็นเจ้าหน้าที่หรือพนักงานในหน่วยงาน สคบ.เท่านั้นที่มีสิทธิ์ใช้งานระบบ
                                    </p>
                                </li>
                                <li>
                                    <p class="qa-title  highlight">
                                        <img src="images/live-show.png" alt="img">
                                    </p>
                                    <a href="#" class="bt-qa"></a>
                                    <p class="qa-message">
                                        ระบบไม่ได้อนุญาตให้สมัครสมาชิกได้เอง
                                        จะต้องเป็นเจ้าหน้าที่หรือพนักงานในหน่วยงาน สคบ.เท่านั้นที่มีสิทธิ์ใช้งานระบบ
                                    </p>
                                </li>
                                <li>
                                    <p class="qa-title  highlight">
                                        <img src="images/staff-content-privacy.png" alt="img">
                                    </p> 
                                    <a href="#" class="bt-qa"></a>
                                    <p class="qa-message">
                                        ระบบไม่ได้อนุญาตให้สมัครสมาชิกได้เอง
                                        จะต้องเป็นเจ้าหน้าที่หรือพนักงานในหน่วยงาน สคบ.เท่านั้นที่มีสิทธิ์ใช้งานระบบ
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .box-article-contents -->
                </div><!-- #contact .box-article -->
            </div>  <!-- .content -->
        </div>

        <div class="bg-nav-footer">
            <div class="nav-footer  wrapper">
                <ul>
                    <li><a href="#" title="หน้าหลัก KM">หน้าหลัก KM</a>|</li>
                    <li><a href="#" title="ข่าว/ข่าวสาร">ข่าว/ข่าวสาร</a>|</li>
                    <li><a href="#" title="บทความ">บทความ</a>|</li>
                    <li><a href="#" title="คำถามที่พบบ่อย">คำถามที่พบบ่อย</a>|</li>
                    <li class="last"><a href="#" title="ติดต่อเรา">ติดต่อเรา</a></li>
                </ul>
            </div>
        </div>

        <div class="bg-footer">            
            <div id="footer" class="wrapper">
                <div class="box-contact">
                    <h4 class="bold">สำนักข่าว กรมประชาสัมพันธ์</h4>
                    <p>0-91 ถ.เพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง 10310</p>
                    <p>
                        <span class="bold">โทรศัพท์</span> 02-248-8600,
                        <span class="bold">Fax</span> 02-369-2579
                    </p>
                    <p>
                        <span class="bold">WEB MASTER</span> : 
                        <a href="mailto:nnt.thainews@gmail.com" title="nnt.thainews@gmail.com">
                        nnt.thainews@gmail.com</a>
                    </p>
                </div>

                <div class="box-stat">
                    <div class="stat">
                        <span class="message">ผู้เข้าชมตั้งแต่ พ.ค.46
                        &nbsp;<img src="images/icon-truehits.png" alt="img">
                        </span>
                        <img src="images/icon-truehits-score.jpg" alt="img">
                    </div>
                </div>
            </div> <!-- #footer --> 
        </div>
    </div><!-- Close .container -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.qa-message').hide();
            
            $('.bt-qa').click(function(e) {
            	e.preventDefault();

            	var obj = $(this);
            	obj.toggleClass('qa-hide').fadeIn('slow');
                //obj.parent().find('.qa-message').slideToggle('slow');
                obj.parent().find('.qa-message').fadeToggle('slow');
            });
        });
    </script>
</body>
</html>
